a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

/*Page Scaling*/
@media (min-width: 978px) {
body { margin: auto; width: 70%;  max-width: 960px;}
}

@media (max-width: 978px) {
body { margin: auto; width: 95%;  max-width: 960px;}
}

/*Font Scaling*/
/*h1*/
@media all and (min-width: 960px) {
h1{
    font-size: 3em;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
h1{
    font-size: 5vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
h1{
    font-size: 6vw;
  }
}

/*Fonts*/
p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica'; }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }


nav ul, footer ul { margin: auto; text-align: center; width: 100%; font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li {display: inline; margin-right: 20px; }

header { border-top: 1px solid #d5d5d5; font-size: .8em; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }


/*Banner*/
  #logo-container img{
  max-width: 960px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Image Scaler*/
  #img-container img{
  max-width: 262px;
  width: 262px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Comic Scaler*/
  #cmc-container img{
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/*Video Scaler*/

html,body        {height:100%;}
.wrapper         {width:80%; max-width: 640px; height:100%; margin:0 auto; background:#CCC}
.h_iframe        {position:relative; padding-top: 56%;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* Contact */
.contact { margin: 0px 0px 60px; }
.contact h1 { font-size: 3em; }
.contact h2 { font-size: 2em; }
.contact address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.contact address, .cv p { font-size: 1.2em; }
.contact .download { float: right; font-size: .8em; text-transform: uppercase; }

}

 /*Modal/
 /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
} 
