---
layout: default
title: Comic
---
<h1>Comic</h1>
<ul class="posts">

{% for post in paginator.posts %}
    <div class="content">
        {{ post.content }}
    </div>
    <div style="text-align:center">
//Below Nav
<p>
{% endfor %}
  {% if paginator.total_pages > 1 %}  
<div class="pagination">  
    {% if paginator.previous_page %}  
        <a href="https://glasscaked.github.io/strip/comic/">First</a> 
     {% else %}  
    <span>First</span>  
     {% endif %}  
    |
   {% if paginator.previous_page %}  
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>  
  {% else %}  
    <span>Prev</span>  
   {% endif %}  
    |
  {% if paginator.next_page %}  
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>  
  {% else %}  
    <span>Next</span>  
  {% endif %}  
    |
{% if paginator.next_page %}  
    <a href="https://glasscaked.github.io/strip/comic/page5">Latest</a> 
     {% else %}  
    <span>Latest</span> 
  {% endif %}  
</div>  
{% endif %}  
        </p></div>
</ul>
