<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>
  
  <body>
    <header>  
      <div id="logo-container"><img href="/" alt="banner" src="/images/banner.jpg" border="1" /></div>
    <nav>
<ul>
<li><a href="/">Home</a></li>
  |
<li><a href="/about">About</a></li>
  |
<li><a href="/contact">Contact</a></li>
  |
<li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    </header>
<div class="container">

  {{ content }}

</div>
  <footer><br>
   <ul>
   <li><a href="mailto:glasscaked@gmail.com" target="_blank"><img border="0" alt="Twitter" src="/images/mail.jpg" width="30" height="30"></a></li>
   <li><a href="http://www.twitter.com/glasscake" target="_blank"><img border="0" alt="Twitter" src="/images/twitter.jpg" width="30" height="30"></a></li>
   <li><a href="http://www.vimeo.com/glasscake" target="_blank"><img border="0" alt="Vimeo" src="/images/vimeo.jpg" width="30" height="30"></a></li>
   </ul>
  </footer>
  </body>

</html>
