<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="description" content="London-based independent animation specializing in character animation, direction and comedy.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/strip/css/main.css">
  
  </head>
  
  <body>  
      <div id="logo-container"><img href="/" alt="banner" src="/strip/images/banner.jpg" border ="1"/></div>
    <nav>
<ul>
<li><a href="/">Home</a></li>
  <li>|</li>
<li><a href="/strip/about">About</a></li>
  <li>|</li>
<li><a href="/strip/contact">Contact</a></li>
  <li>|</li>
<li><a href="/strip/gallery">Gallery</a></li>
  <li>|</li>
<li><a href="/strip/blog">Blog</a></li>
      </ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  <footer><br>
   <ul>
   <li><a href="mailto:glasscaked@gmail.com" target="_blank"><img border="0" alt="Twitter" src="/images/mail.jpg" width="30" height="30"></a></li>
   <li><a href="http://www.twitter.com/glasscake" target="_blank"><img border="0" alt="Twitter" src="/images/twitter.jpg" width="30" height="30"></a></li>
   <li><a href="http://www.vimeo.com/glasscake" target="_blank"><img border="0" alt="Vimeo" src="/images/vimeo.jpg" width="30" height="30"></a></li>
   <li><a href="http://www.instagram.com/glasscakeart" target="_blank"><img border="0" alt="Instagram" src="/images/instagram.jpg" width="30" height="30"></a></li>
   </ul>
    <br>
  </footer>
  </body>
</html>
