<!DOCTYPE html>
<html>
  <head>
    <style>
.center {
    margin: auto;
    width: 50%;
}
</style>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <header>
 <img src="/images/logo.jpg" alt="logo" style="width:676px;height:182px;">
        <div class="center">
    <nav>
<ul>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/blog">Blog</a>
      </ul>
    </nav>
    </div>
    </header>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:glasscaked@gmail.com">email</a></li>
   <li><a href="https://twitter.com/glasscake">twitter</a></li>
   </ul>
  </footer>
  </body>

</html>
