---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}<br>
<ul><a href="/blog">Back</a><ul>
  <script type="text/javascript">var instac_connect = "http://glasscake.hol.es/instac_connect.html";</script>
<script src="http://www.instacomment.com/scripts/instac_js.php"></script>
<link href="http://www.instacomment.com/styles/instac_styles.php?id=14960" rel="stylesheet" type="text/css" />
  <script>instac_button(14960, "comments");</script>
</div>
